* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  position: sticky;
  top: 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px;
}
.navbar ul li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: 2s;
}
